
<!DOCTYPE html>
<html>
<head>
<title>Tube Tube</title>

</head>
<body>


<h1>TubeTube</h1>
<h2>Watch a perfectly timed YouTube video for your trip on the DC Metro!</h2>

<label for="startStationsDropDown"> Choose your Starting Station:</label>
<select name="startStationsDropDown" id="startStationsDropDown">

</select>

<br />

<label for="endStationsDropDown"> Choose your End Station:</label>
<select name="endStationsDropDown" id="endStationsDropDown">

</select>

<br />

<button id="submitStations">Submit</button>

<div id="estimate">
</div>

<div id="recommendedVideos">
</div>


</body>
</html>