Your travel time will be <%= @wmata_data["StationToStationInfos"][0]["RailTime"]%>

<br><br>



<% video_link_prefix = "https://www.youtube.com/watch?v=" %>

<% items = @youtube_data["items"] %>


<% items.each do |item| %>	
	<% id = item["id"]["videoId"] %> 
	<% image_url = item["snippet"]["thumbnails"]["medium"]["url"] %>

	<% video_link = video_link_prefix + id %>

	<h2><%= item["snippet"]["title"] %></h2>

	<%= link_to image_tag(image_url), video_link %>


<br><br>
<% end %>
