Your travel time will be <%= @wmata_data["StationToStationInfos"][0]["RailTime"]%>

<br><br>



<% video_link = "https://www.youtube.com/watch?v=" %>


<% items = @youtube_data["items"] %>



<% items.each do |item| %>	
<%= item["id"]["videoId"] %> <br><br>
<%= item["snippet"]["thumbnails"]["medium"]["url"] %> <br><br>
<%= item["snippet"]["title"] %> Testing 123 <br><br>
<% end %>

<!--
               videoLinks += "<li><a href='https://www.youtube.com/watch?v=" + resultItems[i].id.videoId + "' target='new'>"+ resultItems[i].snippet.title + "</a></li>";
                videoLinks += "<a href='https://www.youtube.com/watch?v=" + resultItems[i].id.videoId + "' target='new'>" + "<img src='" + resultItems[i].snippet.thumbnails.medium['url'] + "'></img>" + "</a>";
   